@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-Regular.ttf") format("truetype"); /* Adjust the path to your font file */
  font-weight: normal;
  font-style: normal;
}

.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  /* color: rgb(255, 255, 255); */
  color: black;
  background: white;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-weight: 700;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.containerStepper {
  text-align: center;
}

.stepper-wrapper {
  margin: 50px auto;
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.stepper-wrapper::before {
  content: "";
  width: 100%;
  height: 3px;
  background-color: lightgray;
  position: absolute;
  z-index: 99;
}

.bar-complete {
  content: "";
  width: 0%;
  height: 5px;
  background-color: #392993;
  position: absolute;
  z-index: 99;
  transition: width 1s;
  border: "2px solid red";
}

.screen-indicator {
  border-radius: 50%;
  border: 3px solid lightgrey;
  background-color: white;

  color: gray;
  transition: border-color color;
  transition-duration: 0.7s;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.completed {
  border-color: #392993;
  color: #392993;
}

.control-btn {
  background-color: rgb(238, 238, 238);
  padding: 5px 10px;
  border: 1px solid gray;
  border-radius: 5px;
  cursor: pointer;
}

.control-btn:disabled {
  cursor: not-allowed;
}

.control-btn:not(:disabled):hover {
  background-color: lightgray;
}

@media screen and (max-width: 1019px) {
  .stepper-wrapper {
    width: 600px;
  }
}

@media screen and (max-width: 760px) {
  .stepper-wrapper {
    width: 500px;
  }
}

@media screen and (max-width: 670px) {
  .stepper-wrapper {
    width: 500px;
  }
}

@media screen and (max-width: 567px) {
  .stepper-wrapper {
    width: 350px;
  }
}

@media screen and (max-width: 524px) {
  .first-container {
    padding-left: 0;
    padding-right: 0;
  }
  .social-icons {
    display: grid;
    grid-template-columns: repeat(5, 20%);
  }
}

@media screen and (max-width: 421px) {
  .stepper-wrapper {
    width: 250px;
  }
}
